.custom-font {
  font-family: "Fredoka One", cursive;
}

body {
  background-color: #efecec;
}

.form-group label {
  font-weight: bold;
}

.card-project .card-header {
  background-color: white;
  border: none;
}
.card-project .card-footer {
  display: flex;
  justify-content: space-between;
  background: white;
  border: none;
  padding: 5px 0px 0px 0px;
}

#projects .row {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 3px;
}

#sidebar {
  transition: all 0.2s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #bf3e43;
  color: #fff;
  margin-right: 10px;
}
#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li {
  margin-left: none;
  padding: 5px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sidebar ul li:hover {
  color: black;
  background: #d3787c;
  cursor: pointer;
}
#sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#sidebar .sidebar-header i {
  font-size: 1.5em;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  width: 100%;
  margin: 5px;
}

.project-info {
  width: 100%;
  margin: 10px;
}
.project-info h1 {
  text-align: center;
  margin: 20px;
}
.project-info .project-info-element .descriptor {
  font-weight: bold;
  margin-bottom: 1px;
}

.pointer {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.project-buttons {
  display: flex;
}
.project-buttons button {
  margin: 0px 3px 0px 3px;
}

#navbar {
  background: #e5b622;
  margin-bottom: 10px;
}
#navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#navbar a:hover {
  background: #f1d98b;
}

.modal .modal-header {
  background: #e5b622;
}
.modal .modal-body {
  background: #efecec;
}

.dropdown-form {
  padding: 10px;
}

#items-deck .item-card .card-header {
  background: #e5b622;
  display: flex;
  justify-content: space-between;
}
#items-deck .item-card .card-header .left .date-created {
  font-size: 0.7em;
  color: #585858;
}
#items-deck .item-card .card-header .left h5 {
  line-height: 20px;
}
#items-deck .item-card .card-header .right i {
  font-weight: bold;
  font-size: 2em;
  color: green;
}
#items-deck .item-card .card-header .right i.hidden {
  display: none;
}
#items-deck .item-card .item-card-stats .card {
  margin: 2px;
}

#item-checklists {
  display: flex;
  flex-wrap: wrap;
}
#item-checklists .item-checklist {
  margin: 3px;
}
#item-checklists .item-checklist .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#item-checklists .item-checklist .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
#item-checklists .item-checklist .list-group-item .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#item-checklists .item-checklist .list-group-item .left .content {
  margin-left: 10px;
}

.dropdown-menu form {
  padding: 10px;
}

/*# sourceMappingURL=mystyle.css.map */
