body {
  background-color: #FFF6F4;
}

.form-group {
  label {
    font-weight: bold;
  }

}

.card-project {
  .card-footer {
    display: flex;
    justify-content: space-between;
    background: white;
    border: none;
  }
}

#projects {
  .row {
    margin-bottom: 20px;
  }
}


// styles for the sidebar
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  transition: all 0.2s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #7386D5;
  color: #fff;
  margin-right: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: none;

      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
        color: white;
      }

      a:hover {
        color: #7386D5;
        background: #fff;
      }
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;

    i {
      font-size: 1.5em;
    }

  }
}

#sidebar.active {
  margin-left: -250px;
}


#content {
  width: 100%;
}



.project-info {
  width: 100%;
  margin: 10px;

  h1 {
    text-align: center;
    margin: 20px;
  }

  .project-info-element {
    .descriptor {
      font-weight: bold;
      margin-bottom: 1px;
    }
  }
}

.pointer {cursor: pointer;}

