// variables
$base-color-yellow: #e5b622;
$base-color-grey: #efecec;
$base-color-red: #bf3e43;
$base-color-yellow-hover: #f1d98b;
$custom-font: 'Fredoka One', cursive;

h1.custom-font {
  font-size: 3.2em;
}

body {
  margin-bottom: 20px;
}


.btn-secondary {
  background: #dcd5d5;
  color: #1a1a1a;
  border: none;
}

.btn-secondary:hover {
  background: #c5baba;
  color: #1a1a1a;
}

.btn-secondary:active, .btn-secondary:focus {
  color: #1a1a1a; 
  background-color: #dcd5d5; 
  // border-color: #494F57;
 box-shadow: none;
}


.custom-font {
  font-family: $custom-font;
  // font-size: 3.0em; 
}

body {background-color: $base-color-grey;}

.form-group label {font-weight: bold;}

.card-project {
  
  margin-bottom: 20px;

  .card-header {
    background-color: white;
    border: none; 
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    background: white;
    border: none;
    padding: 5px 0px 0px 0px;
  }
}

#projects {
  .row {margin-bottom: 20px;}
  
  .toolbar {
    margin-bottom: 15px;
    margin-top: 50px;
  }

}


// styles for the sidebar
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 3px;
}

#sidebar {
  transition: all 0.2s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: $base-color-red;
  color: #fff;
  margin-right: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: none;
      padding: 5px;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    li:hover {
      color: black;
      background: #d3787c;
      cursor: pointer;
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    i {font-size: 1.5em;}

  }
}

#sidebar.active {margin-left: -250px;}

#content {
  width: 100%;
  margin: 5px;
}

.project-info {
  width: 100%;
  margin: 10px;

  h1 {
    text-align: center;
    margin: 20px;
  }

  .project-info-element {
    .descriptor {
      font-weight: bold;
      margin-bottom: 1px;
    }
  }
}

.pointer {cursor: pointer;}

.completed {text-decoration: line-through;}

.project-buttons {
  display: flex;
  button {margin: 0px 3px 0px 3px;}
}

#navbar {
  background: $base-color-yellow;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  a:hover, a.active {background: $base-color-yellow-hover;}
}

.modal {
  .modal-header {background: $base-color-yellow;}
  .modal-body {background: $base-color-grey;}
}

.dropdown-form {padding: 10px;}

#items-deck {
  .col {margin-bottom: 10px;}

  .item-card {

    .card-header {
      background: $base-color-yellow;
      display: flex;
      justify-content: space-between;

      .left {
        .date-created {
          font-size: .7em;
          color: #585858;
        }

        h5 {line-height: 20px;}
      }

      .right {
        i {
          font-weight: bold;
          font-size: 2em;
          color: green;
        }

        i.hidden {display: none;}
      }
    }



    .item-card-stats {      
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      .item-card-stat {
        margin: 5px;

        .card-body {
          display: flex;
          align-items: center;
          padding: 5px 10px;
          background-color: $base-color-grey;

          .right {
            display: block;
            margin-left: 10px;

            .description {font-weight: bold;}
          }

          .left i {
            background-color: $base-color-red;
            border-radius: 50%;
            padding: 10px;
            color: white;
          }
        }
      }
    }
  }
}


#item-checklists {
  display: flex;
  flex-wrap: wrap;
  
  .item-checklist {
    margin: 3px;
    resize: both;
    overflow: auto;
    
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list-group-item {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;

      .left {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .content {
          margin-left: 10px;
        }
      }
    }
  }
}


.dropdown-menu form {padding: 10px;}

#edit-item-info-menu {

  width: 500px;
  height: 600px;
  resize: both;
  overflow: auto;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#item-notes-cards {
  margin-top: 30px;

  .card-item-note {
    margin-bottom: 20px;

    .card-body {
      resize: vertical;
      overflow: auto;

      .edit-item-note {
        .action-buttons {
          float: right;
          .btn {margin-right: 5px;}

        }
        .edit-item-note-input {margin-bottom: 10px;}
      }
    }
    
    .card-footer {
      .btn {margin-right: 3px;}
    }
  }
}

.resize-false {
  resize: none !important;
  overflow: auto;
}

#new-item-note-input {margin-top: 15px;}


.info-section {    
  margin: 20px 0px 20px 0px;

  .heading {
    display: flex;
    align-items: center;

    .icon i {
      background: $base-color-red;
      border-radius: 50%;
      padding: 10px;
      color: white;
    }

    .description {
      font-size: 1.8em;
      margin-left: 15px;
      font-family: $custom-font;
    }
  }

  .panel {
    margin-left: 53px;
    // overflow: hidden;
  }
}

#item-pills-info button.completed {text-decoration: none;}

.sidebar-item-checklists {
  margin-bottom: 20px;
  
  .nav-item .nav-link {padding: 5px;}

  .nav-item
  

  .nav-item:hover, .nav-item.open {background-color: #f2f2f2;}
}

#new-project-btn {
    margin-top: 50px;
    margin-left: 100px;
}

.card {box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);}

.passwords-must-match-text {
  color: red;
  margin-top: 3px;
  font-style: italic;
}


input.green {
  border: 2px solid green;
}

input.red, input.red:focus {
  border: 2px solid red;
}


.item-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;



  .buttons {
    flex: 1 1 20em;
    display: flex;
  }

  .input-group {
    flex: 1 1 1em; 
    padding: 5px;
    // width: 50%;
  }
}


.animate__animated.animate__fadeIn, .animate__animated.animate__fadeOut {
  --animate-duration: 200ms;
}

#project-search-input {
  width: 300px;
}

.icon-display {
  display: flex;
  align-items: center;
  
  .icon {
    margin-right: 5px;
  }
}


.table {
  th, td {background-color: white;}
}

.hover-pointer:hover {cursor: pointer;}


i.bx-check-circle, i.bxs-check-circle {
  color: green;
}

