// variables
$base-color-yellow: #e5b622;
$base-color-grey: #efecec;
$base-color-red: #bf3e43;
$base-color-yellow-hover: #f1d98b;


.custom-font {font-family: 'Fredoka One', cursive;}

body {background-color: $base-color-grey;}

.form-group label {font-weight: bold;}

.card-project {
  .card-header {
    background-color: white;
    border: none; 
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    background: white;
    border: none;
    padding: 5px 0px 0px 0px;
  }
}

#projects .row {margin-bottom: 20px;}


// styles for the sidebar
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 3px;
}

#sidebar {
  transition: all 0.2s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: $base-color-red;
  color: #fff;
  margin-right: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: none;
      padding: 5px;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    li:hover {
      color: black;
      background: #d3787c;
      cursor: pointer;
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    i {font-size: 1.5em;}

  }
}

#sidebar.active {margin-left: -250px;}

#content {
  width: 100%;
  margin: 5px;
}

.project-info {
  width: 100%;
  margin: 10px;

  h1 {
    text-align: center;
    margin: 20px;
  }

  .project-info-element {
    .descriptor {
      font-weight: bold;
      margin-bottom: 1px;
    }
  }
}

.pointer {cursor: pointer;}

.completed {text-decoration: line-through;}

.project-buttons {
  display: flex;
  button {margin: 0px 3px 0px 3px;}
}

#navbar {
  background: $base-color-yellow;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  a:hover {background: $base-color-yellow-hover;}
}

.modal {
  .modal-header {background: $base-color-yellow;}
  .modal-body {background: $base-color-grey;}
}

.dropdown-form {padding: 10px;}

#items-deck {
  .col {margin-bottom: 10px;}

  .item-card {

    .card-header {
      background: $base-color-yellow;
      display: flex;
      justify-content: space-between;

      .left {
        .date-created {
          font-size: .7em;
          color: #585858;
        }

        h5 {line-height: 20px;}
      }

      .right {
        i {
          font-weight: bold;
          font-size: 2em;
          color: green;
        }

        i.hidden {display: none;}
      }
    }



    .item-card-stats {      
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      .item-card-stat {
        margin: 2px;

        .card-body {
          display: flex;
          align-items: center;
          padding: 10px;

          .right {
            display: block;
            margin-left: 20px;

            .description {font-weight: bold;}
          }

          .left i {
            background-color: darkblue;
            border-radius: 50%;
            padding: 10px;
            color: white;
          }
        }
      }
    }
  }
}


#item-checklists {
  display: flex;
  flex-wrap: wrap;
  
  .item-checklist {
    margin: 3px;
    resize: both;
    overflow: auto;
    
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list-group-item {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;

      .left {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .content {
          margin-left: 10px;
        }
      }
    }
  }
}


.dropdown-menu form {padding: 10px;}

#item-pills-info {

  button.completed {
    text-decoration: none;
  }

  .info-section {    
    margin: 20px 0px 20px 0px;

    .heading {
      display: flex;
      align-items: center;

      .icon i {
        background: $base-color-red;
        border-radius: 50%;
        padding: 10px;
        color: white;
      }

      .description {
        font-size: 1.8em;
        font-weight: bold;
        margin-left: 15px;
      }
    }

    .content {
      margin-left: 53px;
    }
  }
}


#edit-item-info-menu {

  width: 500px;
  height: 600px;
  resize: both;
  overflow: auto;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#item-notes-cards {
  margin-top: 30px;

  .card-item-note {
    margin-bottom: 20px;

    .card-body {
      resize: vertical;
      overflow: auto;

      .edit-item-note {
        .action-buttons {
          float: right;
          .btn {margin-right: 5px;}

        }
        .edit-item-note-input {margin-bottom: 10px;}
      }
    }
    
    .card-footer {
      .btn {margin-right: 3px;}
    }
  }
}

.resize-false {
  resize: none !important;
  overflow: auto;
}

#new-item-note-input {margin-top: 15px;}