// variables
$base-color-yellow: #e5b622;
$base-color-grey: #efecec;
$base-color-red: #bf3e43;
$base-color-yellow-hover: #f1d98b;
$custom-font: 'Fredoka One', cursive;


.btn-secondary {
  background: #dcd5d5;
  color: #1a1a1a;
  border: none;
}

.btn-secondary:hover {
  background: #c5baba;
  color: #1a1a1a;
}

.btn-secondary:active, .btn-secondary:focus {
  color: #1a1a1a; 
  background-color: #dcd5d5; 
  // border-color: #494F57;
 box-shadow: none;
}


.custom-font {font-family: $custom-font;}

body {background-color: $base-color-grey;}

.form-group label {font-weight: bold;}

.card-project {
  
  margin-bottom: 20px;

  .card-header {
    background-color: white;
    border: none; 
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    background: white;
    border: none;
    padding: 5px 0px 0px 0px;
  }
}

#projects .row {margin-bottom: 20px;}


// styles for the sidebar
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  margin-top: 3px;
}

#sidebar {
  transition: all 0.2s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: $base-color-red;
  color: #fff;
  margin-right: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: none;
      padding: 5px;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    li:hover {
      color: black;
      background: #d3787c;
      cursor: pointer;
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    i {font-size: 1.5em;}

  }
}

#sidebar.active {margin-left: -250px;}

#content {
  width: 100%;
  margin: 5px;
}

.project-info {
  width: 100%;
  margin: 10px;

  h1 {
    text-align: center;
    margin: 20px;
  }

  .project-info-element {
    .descriptor {
      font-weight: bold;
      margin-bottom: 1px;
    }
  }
}

.pointer {cursor: pointer;}

.completed {text-decoration: line-through;}

.project-buttons {
  display: flex;
  button {margin: 0px 3px 0px 3px;}
}

#navbar {
  background: $base-color-yellow;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  a:hover, a.active {background: $base-color-yellow-hover;}
}

.modal {
  .modal-header {background: $base-color-yellow;}
  .modal-body {background: $base-color-grey;}
}

.dropdown-form {padding: 10px;}

#items-deck {
  .col {margin-bottom: 10px;}

  .item-card {

    .card-header {
      background: $base-color-yellow;
      display: flex;
      justify-content: space-between;

      .left {
        .date-created {
          font-size: .7em;
          color: #585858;
        }

        h5 {line-height: 20px;}
      }

      .right {
        i {
          font-weight: bold;
          font-size: 2em;
          color: green;
        }

        i.hidden {display: none;}
      }
    }



    .item-card-stats {      
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      .item-card-stat {
        margin: 5px;

        .card-body {
          display: flex;
          align-items: center;
          padding: 5px 10px;
          background-color: $base-color-grey;

          .right {
            display: block;
            margin-left: 10px;

            .description {font-weight: bold;}
          }

          .left i {
            background-color: $base-color-red;
            border-radius: 50%;
            padding: 10px;
            color: white;
          }
        }
      }
    }
  }
}


#item-checklists {
  display: flex;
  flex-wrap: wrap;
  
  .item-checklist {
    margin: 3px;
    resize: both;
    overflow: auto;
    
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list-group-item {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;

      .left {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .content {
          margin-left: 10px;
        }
      }
    }
  }
}


.dropdown-menu form {padding: 10px;}

#edit-item-info-menu {

  width: 500px;
  height: 600px;
  resize: both;
  overflow: auto;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#item-notes-cards {
  margin-top: 30px;

  .card-item-note {
    margin-bottom: 20px;

    .card-body {
      resize: vertical;
      overflow: auto;

      .edit-item-note {
        .action-buttons {
          float: right;
          .btn {margin-right: 5px;}

        }
        .edit-item-note-input {margin-bottom: 10px;}
      }
    }
    
    .card-footer {
      .btn {margin-right: 3px;}
    }
  }
}

.resize-false {
  resize: none !important;
  overflow: auto;
}

#new-item-note-input {margin-top: 15px;}


.info-section {    
  margin: 20px 0px 20px 0px;

  .heading {
    display: flex;
    align-items: center;

    .icon i {
      background: $base-color-red;
      border-radius: 50%;
      padding: 10px;
      color: white;
    }

    .description {
      font-size: 1.8em;
      margin-left: 15px;
      font-family: $custom-font;
    }
  }

  .panel {margin-left: 53px;}
}

#item-pills-info button.completed {text-decoration: none;}

.sidebar-item-checklists {
  margin-bottom: 20px;
  
  .nav-item .nav-link {padding: 5px;}

  .nav-item
  

  .nav-item:hover, .nav-item.open {background-color: #f2f2f2;}
}



#new-project-btn {
    margin-top: 50px;
    margin-left: 100px;
}


.card {box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);}


.github-css {
  body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    color: #333;
  }

  body>*:first-child {
    margin-top: 0 !important;
  }

  body>*:last-child {
    margin-bottom: 0 !important;
  }

  a {
    color: #4183C4;
    text-decoration: none;
  }

  a.absent {
    color: #cc0000;
  }

  a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0 10px;
    /*padding: 0;*/
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
  }

  h2:first-child,
  h1:first-child,
  h1:first-child+h2,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor {
    text-decoration: none;
  }

  h1 tt,
  h1 code {
    font-size: inherit;
  }

  h2 tt,
  h2 code {
    font-size: inherit;
  }

  h3 tt,
  h3 code {
    font-size: inherit;
  }

  h4 tt,
  h4 code {
    font-size: inherit;
  }

  h5 tt,
  h5 code {
    font-size: inherit;
  }

  h6 tt,
  h6 code {
    font-size: inherit;
  }

  h1 {
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    color: black;
  }

  h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
    padding-top: 10px !important;
  }

  h6 {
    color: #777777;
    font-size: 14px;
  }

  p,
  blockquote,
  table {
    margin: 15px 0;
  }

  hr {
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
  }

  body>h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body>h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
  }

  body>h3:first-child,
  body>h4:first-child,
  body>h5:first-child,
  body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  a:first-child h1,
  a:first-child h2,
  a:first-child h3,
  a:first-child h4,
  a:first-child h5,
  a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }

  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p {
    margin-top: 0;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
  }

  dl dt:first-child {
    padding: 0;
  }

  dl dt> :first-child {
    margin-top: 0;
  }

  dl dt> :last-child {
    margin-bottom: 0;
  }

  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }

  dl dd> :first-child {
    margin-top: 0;
  }

  dl dd> :last-child {
    margin-bottom: 0;
  }

  blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
  }

  blockquote> :first-child {
    margin-top: 0;
  }

  blockquote> :last-child {
    margin-bottom: 0;
  }

  table {
    padding: 0;
  }

  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }

  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  span.frame {
    display: block;
    overflow: hidden;
  }

  span.frame>span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
  }

  span.frame span img {
    display: block;
    float: left;
  }

  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
  }

  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }

  span.align-center>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
  }

  span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }

  span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
  }

  span.align-right>span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
  }

  span.align-right span img {
    margin: 0;
    text-align: right;
  }

  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
  }

  span.float-left span {
    margin: 13px 0 0;
  }

  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
  }

  span.float-right>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
  }
}