body {
   background-color: #FFF6F4;
}

.form-group label {
	font-weight: bold;
}

.card-project .card-footer {
  display: flex;
  justify-content: space-between;
}

.card-project .card-footer {
  background: white;
  border: none;
}

#projects .row {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  /*width: 100%;*/
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}